/* ======================== Start Fonts ==================== */
@font-face{
    font-family: roboto;
    src: url('fonts/Roboto/Roboto-Thin.ttf');
    font-weight: 100;
}
@font-face{
    font-family: roboto;
    src: url('fonts/Roboto/Roboto-Regular.ttf');
    font-weight: 300;
}
@font-face{
    font-family: roboto;
    src: url('fonts/Roboto/Roboto-Bold.ttf');
    font-weight: 700;
}
@font-face{
    font-family: klinic;
    src: url('fonts/KlinicSlab/KlinicSlab-Bold.ttf');
    font-weight: 700;
}
/* ======================== End Fonts ==================== */
/* ======================== Blocks ===================== */
html, body{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  overflow-x: hidden;
}
.heading{
   font-family: klinic;
}
.title{
   font-family: roboto;
   font-weight: 700;
   color: #a8aaad;
}
p{
   font-family: roboto;
   color: #3e4147;
   font-weight: 300;
}
/* ======================== Links ===================== */
a, a:hover, a:active{
   color: #004990;
   text-decoration: none;
   outline:0;
   font-family: roboto;
   font-weight: 700;
}


.header{
  width: 100%;
  height: 120px;
  border-bottom: 1px solid #dcdde0;
  padding-top: 25px;
  @media(max-width:374px){
    height: 90px;
  }
  @media(max-width:767px){
    position: fixed;
    top: 0;
    left: 0;
    background:#FFF;
    z-index: 9999 !important;
  }
  .logo{
    margin-left: -7px;
    max-width: 290px;
    @media(max-width:767px){
      width: 80%;
    }
  }
  ul{
    list-style: none;
    padding:20px 0 0 0;
    li{
      display: inline-block;
      margin-right: 50px;
      a{
        text-transform: uppercase;
        font-size: 14px;
      }
    }
  }
  .tab-login{
    position: relative;
    top: -15px;
    letter-spacing: 1px;
    padding-right: 0px;
    font-size: 13px;
    li{
      margin-right: 30px;
      &:last-child{
        margin-right: 10px;
      }
    }
    .fa-lock{
      font-size: 26px;
      border:1px solid #dcdde0;
      padding:5px 10px;
      margin-left: 10px;
      position: relative;
      top: 3px;
    }
  }
  .mobi-bars{
    position: relative;
    top: -5px;
    right: -50px;
    @media(max-width:374px){
      top: -35px;
    }
    .fa-bars{
      position: absolute;
      color: #004990;
      font-size: 36px;
      position: relative;
      top: -7px;
    }
    .fa-times{
      position: absolute;
      color: #004990;
      font-size: 36px;
      position: relative;
      top: -7px;
    }
  }
}
.nav{
  border-bottom: 1px solid #dcdde0;
  height: 59px;
  @media(min-width:768px) and (max-width:991px){
    width: 768px;
  }
  @media(max-width:767px){
    display: none;
  }
  .main-nav{
    font-weight: 700;
    font-family: roboto;
    @media(min-width:768px) and (max-width:991px){
      position: relative;
      left: -17px;
      width: 768px;
    }
    a{
      color: #004990;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 13px;
      letter-spacing: 0.07em;
      &:hover{
        color:#FFF;
      }
      @media(min-width:992px) and (max-width:1199px){
        font-size: 11px;
      }
      @media(min-width:768px) and (max-width:991px){
        font-size: 12px;
      }
    }
    ul{
      list-style: none;
      padding:0;
      //margin-top: -2px;
      height: 60px;
      li{
        float: left;
        display: inline-block;
        padding:20px 23px;
        border-left: 1px solid #dcdde0;
        @media(min-width:992px) and (max-width:1199px){
          padding:20px 17px;
        }
        @media(min-width:768px) and (max-width:991px){
          padding:20px 18px;
        }
        &:hover{
          background:#2765b0;
          a{
            color: #FFF;
          }
          .sub-nav{
            display: block;
          }
        }
        .fa{
          padding-right: 11px;
        }
      }
    }
    .login-btn{
      background:#2765b0;
      padding: 13px 37px 17px 37px;
      border-bottom: 5px solid #407ec9;
      border-left: none;
      border-right: none;
      color: #FFF !important;
      @media(min-width:992px) and (max-width:1199px){
        padding: 13px 31px 17px 40px;
      }
      @media(min-width:768px) and (max-width:991px){
        display: none;
      }
      .fa{
        position: relative;
        font-size: 24px;
        top: 3px;
      }
      &:hover{
        background: #004990;
        border-bottom: 5px solid #2765b0;
      }
    }

    // ======================= Sub Nav ========================== \\
    .sub-nav{
      position: absolute;
      list-style: none;
      background:#002e5c;
      height: auto;
      width: 858px;
      margin-top: 19px;
      margin-left: 15px;
      left: 0;
      display: none;
      z-index: 10 !important;
      @media(min-width:992px) and (max-width:1199px){
        width: 702px;
      }
      @media(min-width:768px) and (max-width:991px){
        width: 768px;
        left: -14px;
      }
      a{
        font-weight: 300;
        color: #b8d8ff;
        font-size: 12px;
      }
      h3{
        padding-bottom: 15px;
        padding-left: 25px;
        border-bottom: 1px solid #407ec9;
        color: #FFF;
        font-family: klinic;
        font-size: 24px;
        text-transform: capitalize;
        .fa{
          position: relative;
          top: 3px;
          left: 7px;
          padding: 0px 5px 1px 7px;
          background:#FFF;
          color: #004990;
          font-size: 22px;
          text-align: center;
        }
      }
      .sub-body{
        padding-left: 20px;
        padding-bottom: 25px;
        .heading{
          color: #FFF;
          font-size: 22px;
          text-transform: capitalize;
          letter-spacing: 1px;
          @media(min-width:992px) and (max-width:1199px){
            font-size: 20px;
          }
        }
        .link{
          font-family: "proxima-nova";
          font-weight: 300;
          font-size: 15px;
          color: #b8d8ff;
          text-transform: capitalize; 
        }
      }
    }
  }
}

.mobi-menu{
  position: absolute;
  top: 120px;
  left: 100%;
  height: 94%;
  width: 100%;
  background: #FFF;
  z-index: 999 !important;
  font-size: 26px;
  overflow: hidden;
  @media(max-width:374px){
    top: 90px;
  }
  @media(max-width:449px){
    width: 100%;
  }
  @media(min-width:768px){
    display: none;
  }
  a{
    font-family: roboto;
    font-weight: 300;
  }
  ul{
    list-style: none;
    padding:0;
    li{
      padding: 10px 25px;
    }
    .blue{
      background: #004990;
      border-bottom: 2px solid #FFF;
      color: #FFF;
    }
    .gray{
      background: #77787a;
      border-bottom: 2px solid #FFF;
      color: #FFF;
      &:last-child{
        border-bottom: 2px solid #dcdde0;
      }
      a{
        color: #FFF;
      }
    }
    .white{
      background: #FFF;
      border-bottom: 2px solid #dcdde0;
      color: #004990;
      &:last-child{
        border-bottom: none;
      }
    }
  }
  .level-1{
    position: relative;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    z-index: 888 !important;
  }
  .level-2{
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 100%;
  }
  .level-3{
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 100%;
  }
  .fa{
    float: right;
    margin-right: 10px;
  }
}

.full-menu{
  position: relative;
  height: 60px;
  border-bottom: 1px solid #dcdde0;
  padding-top: 13px;
  font-size: 22px;
  font-family: roboto;
  font-weight: 700;
  letter-spacing: 1px;
  color: #004990;
  text-transform: uppercase;
  @media(max-width:374px){
    margin-top: 90px;
  }
  @media(min-width:375px) and (max-width:767px){
    margin-top: 120px;
  }
}

.banner{
  position: relative;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #dcdde0;
  background: url(images/banner-bg.jpg) repeat;
  z-index: 9 !important;
  .col-md-9{
    padding:0;
    @media(max-width:767px){
      padding:0 !important;
    }
  }
  .container{
    @media(max-width:767px){
      padding:0;
      width: 100%;
    }
  }
  .carousel{
    position: relative;
    width: 97.8%;
    margin-top: -11px;
    margin-left: 7px;
    @media(min-width:992px) and (max-width:1199px){
      width: 96.6%;
    }
    @media(min-width:768px) and (max-width:991px){
      width: 768px;
      margin-left: -15px;
    }
    @media(max-width:767px){
      width: 100%;
      margin-top: 0;
      margin-left: 0;
    }
  }
  .login-box{
    position: relative;
    width: 265px;
    height: 420px;
    background:#686a6e;
    margin-left: -27px;
    margin-top: -11px;
    padding: 10px;
    text-align: center;
    @media(min-width:992px) and (max-width:1199px){
      margin-left: -33px;
      width: 237px;
      height: 344px;
    }
    .btn-container{
      position: relative;
      top: 20px;
      .btn{
        text-align: left;
        padding:8px 0 8px 35px;
        font-family: roboto;
        font-weight: 400;
        width: 100%;
        display: block;
        margin: 0 auto;
        border:1px solid #dcdde0;
        border-radius: 0;
        margin-top: 10px;
        color: #FFF;
        background:#686a6e;
        &:hover{
          background:#808387;
        }
      }
    }
    ul{
      list-style: none;
      padding: 10px 0 20px 0;
      border-bottom: 1px solid #a8aaad;
      li{
        display: inline-block;
        font-size: 12px;
        text-transform: uppercase;
        &:last-child{
          padding-left: 40px;
        }
        .fa{
          position: relative;
          top: 1px;
          margin-left: 7px;
          height: 20px;
          width: 20px;
          padding-top: 2px;
          background:#FFF;
          color: #004990;
          font-size: 16px;
          text-align: center;
        }
        a{
          color: #FFF !important;
          text-decoration: none;
          font-family: klinic !important;
          font-size: 14px;
        }
      }
    }
  }
}

.tab-nav{
  background:#77787a;
  text-align: center;
  a{
    color: #FFF;
    text-decoration: none;
    font-size: 16px;
  }
  ul{
    padding:0;
    list-style: none;
    height: 42px;
    li{
      display: inline-block;
      padding-top: 13px;
      margin-right: 18px;
    }
  }
}

.callout-container{
  border-bottom: 1px solid #dcdde0;
    @media(max-width:767px){
      width: 100%;
      border-left: none;
      border-right: none;
      padding:0;
    }
  .container{
    position: relative;
    max-width: 1125px;
    left: -16px;
    border-left: 1px solid #dcdde0;
    border-right: 1px solid #dcdde0;
    @media(min-width:992px) and (max-width:1199px){
      width: 941px;
      left: -8px;
    }
    @media(min-width:768px) and (max-width:991px){
      width: 768px;
      left: -15px;
      border-left: none;
      border-right: none;
      padding-left: 58px;
    }
    @media(max-width:767px){
        padding:10px 0 0 30px;
        border-left: none;
        border-right: none;
        width: 98%;
    }
    .callout{
      padding:3px 0 0 0;
      @media(min-width:768px) and (max-width:991px){
        padding:10px 0 0 0;
      }
      @media(max-width:767px){
        &:last-child{
          padding:0 0 15px 0;
        }
      }
    }
  }
}

.news-container{
  border-bottom: 1px solid #dcdde0;
  .container{
    position: relative;
    max-width: 1125px;
    left: -16px;
    border-left: 1px solid #dcdde0;
    border-right: 1px solid #dcdde0;
    padding-top: 30px;
    @media(min-width:992px) and (max-width:1199px){
      width: 941px;
      left: -8px;
    }
    @media(min-width:768px) and (max-width:991px){
      width: 768px;
      left: -15px;
      border-left: none;
      border-right: none;
      padding-left: 30px;
    }
    @media(max-width:767px){
      width: 100%;
      left: -15px;
      border-left: none;
      border-right: none;
      padding-left: 30px;
    }
    .article-container{
      padding-bottom: 30px;
      .title{
        text-transform: uppercase;
        font-weight: 300;
        padding-bottom: 1px;
        border-bottom:1px solid #dcdde0;
        font-size: 13px;
      }
      .heading{
        color: #004990;
        font-size: 24px;
        line-height: 20px;
        padding-top: 10px;
      }
      .article{
        color: #3e4147;
        font-size: 13px;
        font-family: roboto;
        font-weight: 100;
        padding-top: 10px;
        @media(max-width:767px){
          display: none;
        }
      }
      .learn-more{
        a{
          color: #004990;
          font-family: klinic !important;
          text-transform: uppercase;
          font-size: 14px;
        }
        .fa{
          height: 20px;
          width: 20px;
          background: #004990;
          color: #FFF;
          font-size: 16px;
          text-align: center;
          padding-top: 2px;
          margin-left: 7px;
        }
      }
    }
  }
}

.bottom-nav-container{
  background:#edeef0;
  padding: 20px 20px 10px 20px;
  border-bottom: 1px solid #dcdde0;
  ul{
    list-style: none;
    padding:0;
    @media(min-width:768px) and (max-width:991px){
      margin-left: -30px;
    }
    li{
      display: inline-block;
      margin-left: 40px;
      &:first-child{
        margin-left: 10px;
      }
      @media(min-width:992px) and (max-width:1199px){
        margin-left: 25px;
      }
    }
  }
  .left-col{
    text-transform: uppercase;
    font-family: roboto;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 13px;
    text-align: left;
    @media(min-width:768px) and (max-width:991px){
      text-align: center;
    }
  }
  .right-col{
    font-family: roboto;
    font-weight: thin;
    font-size: 12px;
    text-align: right;
    margin-right: 50px;
    @media(min-width:992px) and (max-width:1199px){
      margin-right: 35px;
    }
    @media(min-width:768px) and (max-width:991px){
      text-align: center;
      margin-right: 0;
    }
  }
}

.mobi-bottom-nav-container{
  background:#edeef0;
  padding: 0;
  border-bottom: 1px solid #dcdde0;
  text-align: center;
  ul{
    list-style: none;
    padding:0;
    @media(min-width:768px) and (max-width:991px){
      margin-left: -30px;
    }
  }
  .left-col{
    width: 100%;
    text-transform: uppercase;
    font-family: roboto;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 20px;
    li{
      padding:10px 0;
      border-bottom: 1px solid #dcdde0;
    }
  }
  .right-col{
    font-family: roboto;
    font-weight: thin;
    font-size: 12px;
    li{
      padding:10px;
    }
  }
}
.footer-container{
  background: url(images/footer-bg.jpg) repeat;
  .container{
    position: relative;
    max-width: 1125px;
    left: -16px;
    padding-top: 30px;
    padding-bottom: 30px;
    @media(min-width:992px) and (max-width:1199px){
      width: 941px;
      left: -8px;
    }
    @media(max-width:767px){
      left: 0;
    }
    .left-col{
      .heading{
        color: #004990;
        font-size: 20px;
      }
    }
    .left-col{
      p{
        line-height: 16px;
        color: #77787a;
      }
    }
    .right-col{
      ul{
        list-style: none;
        padding:0;
        li{
          display: inline-block;
          padding-right: 20px;
          img{
            width: 55px;
            height: auto;
          }
        }
      }
      p{
        color: #77787a;
        font-size: 14px;
        font-family: roboto;
        font-weight: 300;
        @media(max-width:767px){
          padding-top: 10px;
        }
      }
      @media(max-width:767px){
        padding-top: 20px;
      }
      #fdic{
        @media(max-width:767px){
          margin-top: 10px;
        }
      }
    }
  }
}

// ====================== Sub Page Settings =================== \\
.sub-page{
  .nav{
    position: relative;
    border-bottom: 1px solid #dcdde0;
    height: 59px;
    left: -1px;
    @media(min-width:768px) and (max-width:991px){
      width: 768px;
    }
    @media(max-width:767px){
      display: none;
    }
    ul{
      list-style: none;
      padding:0;
      //margin-top: -2px;
      height: 60px;
      li{
        float: left;
        display: inline-block;
        padding:20px 21px;
        border-left: 1px solid #dcdde0;
        @media(min-width:992px) and (max-width:1199px){
          padding:20px 15px;
        }
        @media(min-width:768px) and (max-width:991px){
          padding:20px 18px;
        }
        &:hover{
          background:#2765b0;
          a{
            color: #FFF;
          }
          .sub-nav{
            display: block;
          }
        }
        .fa{
          padding-right: 11px;
        }
      }
    }
    .main-nav{
      font-weight: 700;
      font-family: roboto;
      @media(min-width:768px) and (max-width:991px){
        position: relative;
        left: -17px;
        width: 768px;
      }
      .login-btn{
        background:#2765b0;
        padding: 13px 20px 17px 20px;
        border-bottom: 5px solid #407ec9;
        border-left: none;
        border-right: none;
        color: #FFF !important;
        @media(min-width:992px) and (max-width:1199px){
          padding: 13px 18px 17px 18px;
        }
        @media(min-width:768px) and (max-width:991px){
          display: none;
        }
        .fa{
          position: relative;
          font-size: 24px;
          top: 3px;
        }
        &:hover{
          background: #004990;
          border-bottom: 5px solid #2765b0;
        }
      }
      .other-login{
        padding: 10px 13px 8px 14px;
        border-bottom: 5px solid #686a6e;
        color: #FFF;
        font-size: 26px;
        background: #77787a;
        .fa-lock{
          position: relative;
          top: -7px;
          left: 5px;
        }
        .fa-angle-down{
          position: absolute;
          margin-top: -18px;
          margin-left: 5px;
        }
        @media(min-width:768px) and (max-width:991px){
          display: none;
        }
      }
    }
  }
  .banner{
    position: relative;
    width: 100%;
    height: auto;
    z-index: 9 !important;
    background-image: none;
    border:none;
    .container{
      position: relative;
      max-width: 1125px;
      left: -16px;
      border-left: 1px solid #dcdde0;
      border-right: 1px solid #dcdde0;
      padding-top: 15px;
      background: url(images/sub-page-header.png) no-repeat right;
      background-size: cover;
      @media(min-width:992px) and (max-width:1199px){
        width: 941px;
        left: -8px;
      }
      @media(min-width:768px) and (max-width:991px){
        width: 768px;
        left: -15px;
        border-left: none;
        border-right: none;
        padding-left: 30px;
      }
      @media(max-width:767px){
        width: 100%;
        left: -15px;
        border-left: none;
        border-right: none;
        padding-left: 30px;
      }

      .page-title{
        padding-bottom: 15px;
        border-bottom: 1px solid #dcdde0;
        .crum-divider{
          color: #dcdde0;
        }
        a{
          font-family: roboto;
          font-weight: 300;
          color: #004990;
        }
        .title{
          font-family: klinic;
          color: #77787a;
          font-size: 40px;
          letter-spacing: 0.008em;
          sup{
            font-size: 25px;
          }
        }
        .drop-nav{
          position: relative;
          left: 15px;
          margin-top: 10px;
          width: 250px;
          background:#f5fbff;
          height: 40px;
          border:1px solid #dcdde0;
          padding: 9px 10px;
          .page{
            color: #004990;
            font-size: 16px;
            .fa{
              position: relative;
              top: 1px;
              float: right;
              font-size: 20px;
            }
            sup{
              font-size: 9px;
            }
          }
          .pages{
            position: relative;
            top: 8px;
            left: -11px;
            list-style: none;
            padding:0;
            height: auto;
            width: 250px;
            border:1px solid #dcdde0;
            padding: 9px 10px;
            background:#f5fbff;
            display: none;
            z-index: 99 !important;
            li{
              padding:10px;
              border-bottom: 1px solid #dcdde0;
            }
            &:last-child{
              border-bottom:none;
            }
          }
        }
      }
      .l-box-container{
        position: relative;
        float: right;
        .login-box{
          position: absolute;
          width: 265px;
          height: 420px;
          background:#686a6e;
          right: 0px;
          top: -82px;
          padding: 10px;
          text-align: center;
          display: none;
          @media(min-width:992px) and (max-width:1199px){
            margin-left: -33px;
            width: 237px;
            height: 344px;
          }
          .btn-container{
            position: relative;
            top: 20px;
            .btn{
              text-align: left;
              padding:8px 0 8px 35px;
              font-family: roboto;
              font-weight: 400;
              width: 100%;
              display: block;
              margin: 0 auto;
              border:1px solid #dcdde0;
              border-radius: 0;
              margin-top: 10px;
              color: #FFF;
              background:#686a6e;
              &:hover{
                background:#808387;
              }
            }
          }
          ul{
            list-style: none;
            padding: 10px 0 20px 0;
            border-bottom: 1px solid #a8aaad;
            li{
              display: inline-block;
              font-size: 12px;
              text-transform: uppercase;
              &:last-child{
                padding-left: 40px;
              }
              .fa{
                position: relative;
                top: 1px;
                margin-left: 7px;
                height: 20px;
                width: 20px;
                padding-top: 2px;
                background:#FFF;
                color: #004990;
                font-size: 16px;
                text-align: center;
              }
              a{
                color: #FFF !important;
                text-decoration: none;
                font-family: klinic !important;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }

  .sm-title{
    padding: 40px 0 0 10px;
    .heading{
      color: #77787a;
      font-size: 54px;
      letter-spacing: 1px;
      sup{
        position: absolute;
        top: 25px;
        font-size: 20px;
      }
    }
  }
  .sub-content-container{
    //border-bottom: 1px solid #dcdde0;
      @media(max-width:767px){
        width: 100%;
        border-left: none;
        border-right: none;
        padding:0;
      }
    .container{
      position: relative;
      max-width: 1125px;
      left: -16px;
      padding:25px 25px 50px 0;
      border-left: 1px solid #dcdde0;
      border-right: 1px solid #dcdde0;
      @media(min-width:992px) and (max-width:1199px){
        width: 941px;
        left: -8px;
      }
      @media(min-width:768px) and (max-width:991px){
        width: 768px;
        left: -15px;
        border-left: none;
        border-right: none;
        padding-left: 58px;
      }
      @media(max-width:767px){
          padding:10px 0 0 30px;
          border-left: none;
          border-right: none;
          width: 98%;
      }
      .callout{
        padding:3px 0 0 0;
        @media(min-width:768px) and (max-width:991px){
          padding:10px 0 0 0;
        }
        @media(max-width:767px){
          &:last-child{
            padding:0 0 15px 0;
          }
        }
      }

      .sub-banner{
        height: 300px;
        width: 820px;
        background: url(images/banner.png) no-repeat center;
        background-size: cover;
        color: #FFF;
        font-family: klinic;
        font-size: 38px;
        line-height: 38px;
        padding: 200px 30px 30px 30px;
        @media(min-width:992px) and (max-width:1199px){
          height: 300px;
          width: 680px;
        }
        @media(min-width:768px) and (max-width:991px){
          height: 300px;
          width: 768px;
          position: relative;
          left: -58px;
          padding: 200px 30px 30px 50px;
        }
      }

      .sub-left-nav{
        list-style: none;
        max-width: 200px;
        padding:0;
        margin: 0 0 0 15px;
        a{
          color: #004990;
          font-family: roboto;
          font-weight: 700;
          font-size: 13px;
        }
        * {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
        }
        li{
          padding: 5px 0 10px 5px;
          height: 40px;
          margin:5px auto 10px auto;
          border-bottom: 1px solid #dcdde0;
        }
        .active { /* our rectangle */
          width:auto;
          height:30px;
          background-color: #dcdde0;
          margin:20px auto;
          position: relative;
          border-bottom: 1px solid #dcdde0;
          color: #000;
          a{
            font-family: roboto;
            font-weight: 700;
            color: #000;
          }

          &:first-child{
            margin:0 auto 10px auto;
          }

          &:after { /*  our pseudo-element */
            content:"";/* required */
            position: absolute; /* takes the 'cap' out off flow */
            top:0; /* stick it to top edge of the sign */
            left:100%; /* push it way overto the right*/
            height:0; /* we're doing this with borders remember */
            width:0; 
            border-width: 15px;
            border-style:solid;
            border-color:#dcdde0; /* same as bg of our rectangle */
            /* now we make some of theborders disappear*/
            border-top-color:transparent;
            border-bottom-color:transparent;
            border-right-color:transparent;
          }
        }
      }
      .sub-left-nav2{
        border-top: 1px solid #407ec9;
        list-style: none;
        max-width: 200px;
        padding:5px 0 0 0;
        margin: 40px 0 0 15px;
        a{
          color:#407ec9;
          font-family: roboto;
          font-weight: 300;
          font-size: 13px;
        }
        li{
          padding: 5px 0 10px 5px;
          height: 40px;
          margin:5px auto 10px auto;
          border-bottom: 1px solid #dcdde0;
        }
      }
      .callout-img{
        list-style: none;
        padding:0;
        margin: 40px 0 0 0;
        max-width: 250px;
        li{
          padding:5px 0 0 0;
        }
      }
      .account-desc{
        .sub-body{
          padding:0 0 0 30px;
          ul{
            padding: 5px 15px;
            color: #2765b0;
            li{
              padding-top: 10px;
              span{
                color: #000
              }
            }
          }
          .details{
            padding:15px 0 0 0;
            .heading{
              font-size: 24px;
            }
          }
        }
      }
    }
  }
}


// ====================== Random Settings ===================== \\
.blue-btn{
   position: relative;
   height: auto;
   width: auto;
   padding: 18px 20px;
   background: #dcedf7;
   color: #004990;
   text-transform: uppercase;
   text-align: center;
   font-family: roboto;
   font-weight: 700;
   font-size: 15px;
   letter-spacing: 0.07em;
   border: 1px solid #dcdde0;
}
.blue-btn:hover{
   cursor: pointer;
}
.blue-btn .fa{
   position: relative;
   top: 3px;
   font-size: 24px;
   padding-right: 10px;
}







