/* ======================== Start Fonts ==================== */
@font-face{
    font-family: roboto;
    src: url('fonts/Roboto/Roboto-Regular.ttf');
    font-weight: 300;
}
@font-face{
    font-family: roboto;
    src: url('fonts/Roboto/Roboto-Bold.ttf');
    font-weight: 700;
}
@font-face{
    font-family: klinic;
    src: url('fonts/KlinicSlab/KlinicSlabBold.otf');
    font-weight: 700;
}
/* ======================== End Fonts ==================== */

/* ======================== Blocks ===================== */
.heading{
   font-family: klinic;
   color: #004990;
}
.title{
   font-family: roboto;
   font-weight: 700;
   color: #a8aaad;
}
p{
   font-family: roboto;
   color: #3e4147;
   font-weight: 300;
}
/* ======================== Links ===================== */
a, a:hover, a:active{
   color: #004990;
   text-decoration: none;
   outline:0;
   font-family: roboto;
   font-weight: 700;
}
